<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>FILE QUERY</title>
    
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/pultstyle.css">

</head>


<body>
    <h2>Работа с файлами</h2>
    <a  id="NAV_back" href="../static">Назад </a>
</br>
    <div>
        <input type="hidden" id="userId" />
        <p>
            Имя файла:<br/>
            <input id="FN"  />
        </p>
        <p>
            ID файла:<br />
            <input id="IDF" type="number" />
        </p>
         <p>
            <button id="selectBtn" onclick="getFileBody()">Отобрать</button>
            <button id="saveBtn" onclick="SaveFile()">Сохранить</button>
            <button id="resetBtn" onclick="getFiles()">Сбросить</button>
        </p>
    </div>
    <table id="TT">
        <thead>
<tr><th>Дата и время</th><th> Адрес </th><th> d0 </th><th> d1 </th>

<th> d2 </th>
<th> d3 </th>
<th> d4 </th>
<th> d5 </th>
<th> d6 </th>
<th> d7 </th>
<th> a0 </th><th> a1 </th><th>a2</th><th>a3</th><th>a4</th><th>a5</th><th>a6</th><th>a7</th></tr>
</thead>
        <tbody id="TTB">
        </tbody>
    </table>
  
    <script>
    // Получение всех файлов
        async function getFiles() {
            //alert('СТАРТ');
            document.getElementById('FN').value="";
            //alert(fnm);
            document.getElementById('IDF').value="";
                Tbl = document.getElementById("TTB");
                Tbl.innerHTML = "";
            // отправляет запрос и получаем ответ
            const response = await fetch("http://127.0.0.1:8000/fileheads", {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
          // alert('Запрос');
            // если запрос прошел нормально
            if (response.ok === true) {
                //alert('Данные');
                // получаем данные
                const users = await response.json();
                //const otwet= await  response.text();
                const rows = document.querySelector("tbody");
                //const zz={{aaa: 'xxx'},{bbb:'fff'}}
                //alert('Данные2');

                a=Object.entries(users);
              //alert('Данные3');
                for (let i = 0; i < users.length; i++) { // выведет 0, затем 1, затем 2
                            rows.append(row(a[i][1],1));

                }
//alert('Данные4');
            }
        }

       // Получение запроса
        async function getFileBody() {
            //alert('СТАРТ0');
            fnm=document.getElementById('FN').value;
            //alert(fnm);
            idf=document.getElementById('IDF').value;
            //alert(idf);
            //alert('СТАРТ0.1');
            //alert('http://127.0.0.1:8000/filebody?FNM=${fnm}&IDF=${idf}')
            const response = await fetch(`http://127.0.0.1:8000/filebody?FNM=${fnm}&IDF=${idf}`, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            //alert('СТАРТ1');
            if (response.ok === true) {
                //alert('СТАРТ2');
                const users = await response.json();

                //alert('СТАРТ2.9');

                Tbl = document.getElementById("TTB");
                Tbl.innerHTML = "";

                //alert('СТАРТ2.5');
                //alert(users.length);

                const rows = document.querySelector("tbody");
                a=Object.entries(users);
                //alert('СТАРТ2.8');
                //alert(users.length);
                
  
                
                for (let i = 0; i < users.length; i++) { // выведет 0, затем 1, затем 2
                            rows.append(row(a[i][1],0));

                }
             //alert('СТАРТ3');
            }
            
        }

    
        // создание строки для таблицы
        function row(user,bt) {
              //alarm("row");
            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", user.id);
  
            const timTd = document.createElement("td");
            timTd.append(user.tim);
            tr.append(timTd);
  
            const adrTd = document.createElement("td");
            adrTd.append(user.adr);
            tr.append(adrTd);

            const d0Td = document.createElement("td");d0Td.append(user.d0);tr.append(d0Td);
            const d1Td = document.createElement("td");d1Td.append(user.d1);tr.append(d1Td);
const d2Td = document.createElement("td");d2Td.append(user.d2);tr.append(d2Td);
const d3Td = document.createElement("td");d3Td.append(user.d3);tr.append(d3Td);
const d4Td = document.createElement("td");d4Td.append(user.d4);tr.append(d4Td);
const d5Td = document.createElement("td");d5Td.append(user.d5);tr.append(d5Td);
const d6Td = document.createElement("td");d6Td.append(user.d6);tr.append(d6Td);
const d7Td = document.createElement("td");d7Td.append(user.d7);tr.append(d7Td);



            const a0Td = document.createElement("td");a0Td.append(user.a0);tr.append(a0Td);
            const a1Td = document.createElement("td");a1Td.append(user.a1);tr.append(a1Td);
            const a2Td = document.createElement("td");a2Td.append(user.a2);tr.append(a2Td);
            const a3Td = document.createElement("td");a3Td.append(user.a3);tr.append(a3Td);
            const a4Td = document.createElement("td");a4Td.append(user.a4);tr.append(a4Td);
            const a5Td = document.createElement("td");a5Td.append(user.a5);tr.append(a5Td);
            const a6Td = document.createElement("td");a6Td.append(user.a6);tr.append(a6Td);
            const a7Td = document.createElement("td");a7Td.append(user.a7);tr.append(a7Td);
  
//alarm("BUTTON");
            if(bt){
            const linksTd = document.createElement("td");
  
            const editLink = document.createElement("button"); 
//            alarm("BUTTON");
            editLink.append("Выбрать");
            editLink.addEventListener("click", async() => await                                       
                         getFile(user.d0,user.d1,user.d2,user.d3,user.d04,user.d5,user.d6,user.d7));
            linksTd.append(editLink);
            tr.append(linksTd);
            }

            return tr;
        }

        function getFile(d0,d1,d2,d3,d4,d5,d6,d7) {
            document.getElementById("IDF").value =d0;
            s="";
            if(d1>0) s+=String.fromCharCode(d1);
            if(d2>0) s+=String.fromCharCode(d2);
            if(d3>0) s+=String.fromCharCode(d3);
            if(d4>0) s+=String.fromCharCode(d4);
            if(d5>0) s+=String.fromCharCode(d5);
            if(d6>0) s+=String.fromCharCode(d6);
            if(d7>0) s+=String.fromCharCode(d7);
            document.getElementById("FN").value =s;
        }//function getFile


        function SaveFile(){
            fnm=document.getElementById('FN').value;
            //alert(fnm);
            idf=document.getElementById('IDF').value;

            if(idf>=0){
                
               if(fnm!=""){
                   //alert("GOOD BY");
                  //const response = await 
                 fetch(`http://127.0.0.1:8000/filesave?FNM=${fnm}&IDF=${idf}`, {
                  method: "PUT"
                //headers: { "Accept": "application/json" }
                 });
                 alert("FILE SAVED");
                }
            
            }

        }// function SaveFile()

        // загрузка 
        getFiles();

    </script>
</body>
</html>
